.scroll_block{
	position: fixed;
	z-index: 100;
	width: 100%;
	top: 0;
	height: 100px;
	background-color: #0053cf;
	opacity: 0;
	display: none;
}
	.sticky{
		opacity: 1;
	}

#cityDrop .menu_block{
	position: relative;
}
#cityDrop > span{
	position: absolute;
	top: 57px;
	left: 10px;
	font-family: 'Roboto', sans-serif;
	font-size: 37px;
	color: #0053cf;
	font-weight: 100;
}
.btn-group{
	margin-top: 50px;
}
#cityDrop .dropdown-menu>li>a.active_menu:hover{
	color: #f8a204;
}
	#cityDrop .dropdown-menu>li>a:hover{
		 background-color: transparent;
		 background-image: none;
		 color: #f8a204;
	 }
	#cityDrop .open > .dropdown-menu{
		left: 0px;
		top: 57px;
		margin: 0;
		border-radius: 0;
		z-index: 0;
		font-family: sans-serif;
		font-size: 17px;
		min-width: 279px;
		box-shadow: 0 0 3px rgba(0,0,0,.5);
		border: 1px solid #eee;
	}
	#cityDrop.btn-group .btn{
		border-radius: 0;
		box-shadow: none;
	}

	#cityDrop.btn-group .dropdown-toggle {
		box-shadow: none;
	}
    #cityDrop button.btn.dropdown-toggle{
		background: white;
		box-shadow: 0 2px 5px rgba(0,0,0,.5);
		border: 1px solid #eee;
		z-index: 50;
		border-bottom: 0;
		top: 15px;
		padding: 10px 12px;
		left: 245px;
	}
	#cityDrop.btn-group.open .dropdown-toggle {
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
		box-shadow: 0 0 3px rgba(0,0,0,.5);
		position: relative;
	}
	.btn-group.open .dropdown-toggle:after {
		content: '';
		display: block;
		height: 6px;
		background: white;
		position: absolute;
		bottom: -5px;
		left: -1px;
		right: -1px;
	}
	button.btn.dropdown-toggle:active{
		box-shadow: none;
		border: 1px solid rgba(0,0,0,.15);
	}
/*========================================= moneyDrop ============================================*/
	#moneyDrop .dropdown-menu>li>a:hover{
		color: #0053cf;
		background-color: #EAF2FF;
		background-image: none;
	}
		#moneyDrop .dropdown-menu>li>a{
			padding: 3px 40px;
			color: #0053cf;
		}
		#moneyDrop .dropdown-menu>li{
			position: relative;
		}
		#moneyDrop .open > .dropdown-menu{
			left: 2px;
			top: 57px;
			margin: 0;
			border-radius: 0;
			z-index: 0;
			font-family: Open Sans;
			font-size: 17px;
			min-width: 279px;
			box-shadow: 0 0 3px rgba(0,0,0,.5);
			border: 1px solid #eee;
		}
		#moneyDrop button.btn.dropdown-toggle{
			background: white;
			box-shadow: 0 2px 5px rgba(0,0,0,.5);
			border: 1px solid #eee;
			z-index: 50;
			border-bottom: 0;
			top: 15px;
			padding: 10px 12px;
			left: 245px;
			width: 72px;
		}

.caret{
	color: #0053cf;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-top: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.caret_revers{
	color: #0053cf;
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 2px;
	vertical-align: middle;
	border-bottom: 4px dashed;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}
.bird{
	position: absolute;
	top: 10px;
	left: 10px;
	background: url("../img/bird.png") no-repeat;
	height: 12px;
	width: 14px;
}
.hotel_name{
	font-size: 25px;
	width: 400px;
	margin-top: 400px;
	white-space: nowrap;
}

.white-popup {
	position: relative;
	background: #FFF;
	padding: 25px;
	margin: 0 auto;
}
#popup{
	margin: 50px;
	text-align: center;
}
.black{
	color: #000 !important;
}
.active{
	color: #f8a204 !important;
}

