.menu_block{
	position: relative;
}
.menu_block > span{
	position: absolute;
	top: 57px;
	left: -110px;
	font-family: 'Roboto', sans-serif;
	font-size: 37px;
	color: #0053cf;
	font-weight: 100;
}
.btn-group{
	margin-top: 50px;
}
.dropdown-menu>li>a.active_menu:hover{
	color: #f8a204 !important;
}
.activeLi{
	color: #f8a204 !important;
}

.open > .dropdown-menu{
	left: -126px;
	top: 146%;
	margin: 0;
	border-radius: 0;
	z-index: 0;
	font-family: sans-serif;
	font-size: 17px;
	min-width: 300px;
}
.btn-group .btn{
	border-radius: 0;
	box-shadow: none;
}
.btn-group .dropdown-toggle {
	box-shadow: none;
}
button.btn.dropdown-toggle{
	background: white;
	box-shadow: 0 2px 5px rgba(0,0,0,.175);
	border: 1px solid rgba(0,0,0,.15);
	z-index: 50;
	border-bottom: 0;
	top: 20px;
	padding: 10px 12px;
	left: 140px;
}
button.btn.dropdown-toggle:active{
	box-shadow: none;
	border: 1px solid rgba(0,0,0,.15);
}
.hotel_name{
	font-size: 25px;
	width: 400px;
	margin-top: 200px;
	white-space: nowrap;
}

.b-popup{
	width:100%;
	min-height:100%;
	background-color: rgba(0,0,0,0.5);
	overflow:hidden;
	position:fixed;
	top:0px;
	z-index: 100;
}
.b-popup .b-popup-content{
	padding:10px;
	background-color: #c5c5c5;
	border-radius:5px;
	box-shadow: 0px 0px 10px #000;
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
}

